<!doctype html>
<html>
  <head>
    <title>React App</title>
    <link href='/styles/app.css' rel='stylesheet'>
  </head>
  <body>
    <!-- reactOutput is the server compiled React Dom Nodes -->
    <div id='app'></div>

    <!-- comment out main.js to ONLY see server side rendering -->
    <script src='/scripts/bundle.js'></script>
  </body>
</html>
